.dialog {
  border-radius: 32px;
  padding: 56px;
  
  width: 560px;
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog ::backdrop {
  background-color: #06171E;
}


.dialog.opened {
  border-radius: 32px;
  padding: 56px;
  background-color: #06171E;
  width: 560px;
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
}