.dialog-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background-color: #06171E;
  color: white;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0;
}

.dialog.opened {
  border-radius: 32px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dialog-image {
  width: 560px;
  height: 375px;
  object-fit: cover;
  object-position: center;
}

.dialog::backdrop {
  background-color: aqua;
  opacity: 0.1;
}

.displayFlexForDialog {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.displayFlexForDialog img {
  max-width: 48px;
  margin-left: 8px;
  margin-right: 8px;
  object-fit: cover;

}

@media(max-width: 700px) {
  .dialog-image {
    width: 360px;
  }
}

@media(max-width: 425px) {
  .dialog-image {
    width: 250px;
  }
}

