.dialog-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background-color: #06171E;
  color: white;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border: 0;
}

.dialog.opened {
  border-radius: 32px;
  padding: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dialog img {
  width: 560px;
  max-height: 375px;
  object-fit: cover;
  object-position: center;
}

.dialog ::backdrop {
  background-color: aqua;
}

.displayFlexForDialog {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.displayFlexForDialog img {
  max-width: 48px;
  object-fit: cover;

}

