.footer {
    background-image: url("/img/Footer.svg");
    background-position: center;
    object-fit: cover;
    height: 120px;
    bottom: 0px;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    position: absolute;
}