.footer {
    background-color: #09212A;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 56px;
}

.footer-content {
    display: flex;
    justify-content: center;
}