.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.images {
    width: 150px;
    height:  150px;
    border-radius: 16px;
    margin-left: 16px;
    margin-top: 24px;
}

.main-view {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
}

.main-view h1 {
    font-family: "Figtree", sans-serif;
    font-size: clamp(24px, 5vw, 56px);
}