*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #06171E;
    color: white;
    scroll-behavior: smooth;
}

.content-container {
    margin-left: 160px;
    margin-right: 160px;
    max-width: 1440px;
}