*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}

body {
    background-color: #06171E;
    color: white;
    scroll-behavior: smooth;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.content-container {
    margin-left: 160px;
    margin-right: 160px;
    max-width: 1440px;
}


@media(max-width: 500px) {
    .content-container {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media(max-width: 400px) {
    .content-container {
        margin-left: 0px;
        margin-right: 0px;
    }
}