*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #06171E;
    color: white;
    scroll-behavior: smooth;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.content-container {
    max-width: 1440px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
}


@media (max-width: 480px) {
  .content-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}